<section class="container">
  <div id="finishedModal" class="modal">
    <div class="modal-content">
      <div class="closemodal h-center" id="closeModal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" />
        </svg>
      </div>
      
      <div>
        <img id="beatle-logo" class="logo" style="width: 50px; display: inline !important;" src="assets/images/logos/beatle-b-logo.svg" />

        <h2>Thanks for playing today!</h2>
        <h4>Next Beatle in xx:xx:xx.</h4>
        <br>
        <p>Well Done!</p>
      </div>
      <br>
      <br>

    </div>
  </div>
</section>
