<header class="container">
  <div>
    <a href="/">
      <img id="logo" class="logo" src="assets/images/logos/b-logo.svg" />
    </a>
  </div>

  <div class="toggles">
    <button class="modeswitch" id="volumeCycleButton"></button>

    <button class="modeswitch" id="themeToggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon-dark"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#000000"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
        />
      </svg>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon-light"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#fff"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"
        />
        <path d="M6.343 17.657l-1.414 1.414" />
        <path d="M6.343 6.343l-1.414 -1.414" />
        <path d="M17.657 6.343l1.414 -1.414" />
        <path d="M17.657 17.657l1.414 1.414" />
        <path d="M4 12h-2" />
        <path d="M12 4v-2" />
        <path d="M20 12h2" />
        <path d="M12 20v2" />
      </svg>
    </button>

    <button class="openbtn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </button>
  </div>

  <div id="sidebar" class="sidebar">
    <div id="logo">
      <div class="closebtn h-center" id="closeSidebar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" />
        </svg>
      </div>
    </div>
    <a href="/">Home</a>
    <a href="beat-of-the-day.html">Play</a>
    <a href="beat-boss.html">Beat Boss</a>
    <a href="challenges.html">Challenges</a>
    <a href="playground.html">Playground</a>
  </div>
</header>
