.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.button-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-text {
    padding: 10px;
}