body {
  background-color: #111111;
  color: white;
}

.step {
  background: #333;
  border: 2px solid #555;
}

button {
  background: #111;
  color: white;
}

.sidebar {
  background-color: #1b1b1b;
  border-left: 1px solid #424242;
}

.sidebar a {
  color: #fff;
}

.sidebar a:hover {
  color: #fff;
  background-color: #363636;
}

/* burger */
.openbtn:hover {
  color: #eee;
}

.openbtn {
  color: #f8f8f8;
}

/* sun toggle */
.icon-light {
  display: inline;
}
.icon-dark {
  display: none;
}

header.container {
  border-bottom: 1px solid #424242;
}

.btn {
  border-color: white;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #121213;
  border: 1px solid #424242;
}

#patternInput {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #424242;
}

.beatle-box {
  background: #333;
  border: 2px solid #555;
}

.accordion {
  background-color: #333;
  border: 2px solid #555;
}

.active-accordion,
.accordion:hover {
  background-color: #424242;
}

.step-group {
  border: 1px solid white;
}