.grid {
  display: grid;
  grid-template-columns: repeat(16, 40px);
  gap: 8px;
  justify-content: center !important;
  align-content: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.step:nth-child(5),
.step:nth-child(9),
.step:nth-child(13) {
  margin-right: 5px;
}

.lane {
  display: contents;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: background 0.2s;
  margin: 1px;
}

.grid > .lane-row > .step,
.grid > .lane-row > .lane-label {
  cursor: pointer;
}
.step.active {
  background: #426e86;
}

.step.correct {
  background: #72e582;
}

.step.incorrect {
  background: #e57272;
}

#drumGrid {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lane-row {
  display: flex;
  align-items: center;
}

.lane-label {
  width: 80px;
  margin-right: 8px;
  text-align: right;
  font-weight: bold;
  font-size: 15px !important;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center top;
}

.step-group {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px 10px;
  gap: 12px;
  width: max-content;
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .grid-wrapper {
    transform: scale(1.3);
    margin-bottom: 130px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .grid-wrapper {
    transform: scale(1.18);
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid-wrapper {
    transform: scale(0.96);
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .grid-wrapper {
    transform: scale(0.7);
    margin-bottom: -100px;
  }
}

@media (max-width: 575px) {
  .grid-wrapper {
    transform: scale(0.47);
    margin-bottom: -175px;
  }
}
